<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Create Poll</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/create_poll.css' %}">
</head>
<body style="background-image: url('{% static 'polls-images/adelin-preda--tOr_T4qTpQ-unsplash.jpg' %}');">
<div class="topnav">
    <h2> POOL OF POLLS </h2>
    {% if user.is_authenticated %}
    <h3>{{user.first_name}}</h3>
    <a href="{% url 'logout' %}">Logout</a>
    <a href="{% url 'create_poll' %}">Create Poll</a>
    {% else %}
    <a href="{% url 'register' %}">Register</a>
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'result' %}">Results</a>
    <a href="{% url 'pool' %}">POOL</a>
</div>
<div class="pollform">
    <h1>Create Your POLL</h1>
    <form action="/polls/create_poll/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <label style="margin-left:180px;" for="question">Your Poll</label>
            <input type="text" placeholder="Question" name="question" id="question" required>
        </div><br><br><br>
        <div class="category" style="margin-left:10%;">
            <label style="display:inline" for="misc">Misc</label>
            <input style="height:20px; width:20px;display:inline" type="radio" name="category" id="misc" value="Misc" required>
            <label style="display:inline" for="sports">Sports</label>
            <input style="height:20px; width:20px;display:inline" type="radio" name="category" id="sports" value="Sports" required>
            <label style="display:inline-block" for="bolly">Bolly</label>
            <input style="height:20px; width:20px;display:inline" type="radio" name="category" id="bolly" value="Bolly" required>
            <label style="display:inline-block" for="tech">Tech</label>
            <input style="height:20px; width:20px;display:inline" type="radio" name="category" id="tech" value="Tech" required>
        </div><br><br><br>

        <div>
            <label for="choice1">Choice 1</label>
            <input type="text" placeholder="choice1" name="choice1" id="choice1" required>
            <label for="img1">Image 1</label>
            <input type="file" placeholder="img1" name="img1" id="img1" accept="image/*" required>
        </div><br><br><br>

        <div>
            <label for="choice2">Choice 2</label>
            <input type="text" placeholder="Choice2" name="choice2" id="Choice2" required>
            <label for="img2">Image 2</label>
            <input type="file" placeholder="img2" name="img2" id="img2" accept="image/*" required>
        </div><br><br><br>

        <div>
            <label for="choice3">Choice 3</label>
            <input type="text" placeholder="choice3" name="choice3" id="choice3" required>
            <label for="img3">Image 3</label>
            <input type="file" placeholder="img3" name="img3" id="img3" accept="image/*"  required>
        </div><br><br><br>

        <div>
            <label for="choice4">Choice 4</label>
            <input type="text" placeholder="choice4" name="choice4" id="choice4" required>
            <label for="img4">Image 4</label>
            <input type="file" placeholder="img4" name="img4" id="img4" accept="image/*" required>
        </div><br><br><br>

        <div class="btn">
            <button type="submit">Create POLL</button>
        </div>

    </form>
</div>

</body>
</html>